# eclipse
/eclipse
/bin
/*.launch
/.settings
/.metadata
/.classpath
/.project

# idea
/out
/*.ipr
/*.iws
/*.iml
/.idea

# gradle
/build
/.gradle
/gradle
gradle.properties

# vscode
/.vscode

# other
/run
/src/main/resources/assets
/lib
